/**
 * index.scss
 * - Add any styles you want here!
 */

@import url('https://fonts.googleapis.com/css?family=El+Messiri');

html {
  box-sizing: border-box;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  font-family: 'El Messiri', sans-serif;
  


  &::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images2.imgbox.com/79/66/q4b8r0hu_o.jpg') 0 0/cover no-repeat;
    z-index: -1;
  }
}


.card {
  margin: 2rem auto;
  position: relative;
  padding: 2em;
  background: #fff;
}

.card__title {
  margin: 0 auto 1em;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
}

.card__img {
  display: block;
  width: 20em;
  max-width: 100%;
  margin: 1em auto;
  border-radius: 2px;
}

/**
 * Card #12
 */

.card--12 {

  --mouseX12: 0;
  --mouseY12: 0;

  perspective: 700px;


  .card__title {
    transform: translate3d(calc(var(--mouseY12) * 1px), calc(var(--mouseX12) * 1px), 0);
  }

  .card__img {
    transform: translate3d(calc(var(--mouseY12) * 1px), calc(var(--mouseX12) * -1px), calc(var(--mouseY12) * 1px));
  }

  .card__text {
    transform: translate3d(calc(var(--mouseY12) * -1px), calc(var(--mouseX12) * -1px), 0);
  }

  .card__btn {
    transform: translate3d(calc(var(--mouseX12) * -1px),calc(var(--mouseY12) * -1px) ,calc(var(--mouseX12) * -1px));
  }


  #textoinput{
    border: 0px;
  }
  
 
.card-box{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-family: 'El Messiri', sans-serif;
  transform: translate3d(calc(var(--mouseX12) * -1px),calc(var(--mouseY12) * -1px) ,calc(var(--mouseX12) * -1px));
  }
 
 .card-box:value{
  border: none;
  font-family: 'El Messiri', sans-serif;
  transform: translate3d(calc(var(--mouseX12) * -1px),calc(var(--mouseY12) * -1px) ,calc(var(--mouseX12) * -1px)); 
}
  
}
.card-box:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-family: 'El Messiri', sans-serif;
  transform: translate3d(calc(var(--mouseX12) *     -1px),calc(var(--mouseY12) * -1px) ,calc(var(--mouseX12) * -1px));
}

  

::placeholder{
  font-family: 'El Messiri', sans-serif;
  transform: translate3d(calc(var(--mouseX12) * -1px),calc(var(--mouseY12) * -1px) ,calc(var(--mouseX12) * -1px));
  
}

.todo-1{
  margin-top: 20px;
  transform: translate3d(calc(var(--mouseX12) * 1px),calc(var(--mouseY12) * -1px) ,calc(var(--mouseX12) * -1px));
  
 }

.copyright{
  text-align: center;
  position: relative;
}